<h1> Hambugers</h1>


<h2>Hamburgers not eaten</h2>

<ul> 
    {{#each hamburger}}
        {{#if eaten }}
            <li>{{name}}</li>
         {{/if }}
    {{/each}}
        


</ul>




<h2>Hamburgers eaten</h2>

<ul> 
    {{#each hamburger}}
        {{#unless eaten }}
            <li>{{name}}<button class="eat" data-id="{{id}}">Eat</button></li> 
            
         {{/unless }}
    {{/each}}
        


</ul>

<h2> Add a hamburger </h2>
<form> 
    <input type="text" id= "nameham">
    <button class= "addhamburger" type="submit"> Add a hamburger </button>



</form>